In [47]:
import yfinance as yf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.dates as mdates

# Cargar el archivo CSV para examinar su contenido
file_path = "C:\\Users\\DMIN\\Desktop\\GitHub\\EDA_SP500\\src\\data\\sp500_historico.csv"
sp500 = pd.read_csv(file_path)

sp500.head()

,Price,Adj Close,Close,High,Low,Open,Volume
0,Ticker,^GSPC,^GSPC,^GSPC,^GSPC,^GSPC,^GSPC
1,Date,NaN,NaN,NaN,NaN,NaN,NaN
2,2000-01-03,1455.219970703125,1455.219970703125,1478.0,1438.3599853515625,1469.25,931800000
3,2000-01-04,1399.4200439453125,1399.4200439453125,1455.219970703125,1397.4300537109375,1455.219970703125,1009000000
4,2000-01-05,1402.1099853515625,1402.1099853515625,1413.27001953125,1377.6800537109375,1399.4200439453125,1085500000

In [48]:
sp500.rename(columns={'Price': 'Date'},inplace=True)

In [49]:
sp500.drop([0,1], inplace=True)

In [50]:
sp500['Date'] = pd.to_datetime(sp500['Date'], format='%Y-%m-%d')

In [51]:
print(sp500['Date'].dtype)

datetime64[ns]